@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Empleados</h2>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/Empleado/CRUD.js"></script>


<div class="table-responsive">
    <table class="table" id="tblEmpleados">
        <thead>
            <tr>
                <th>Actualizar</th>
                <th>Nombre Nomina</th>
                <th>Nombre Empleado</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Estado</th>
                <th type="button" class="btn btn-info btn-lg" data-toggle="modal" onclick="ShowModal()" id="agregar">Agregar</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Datos del Empleado</h4>
            </div>

            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <input type="text" class="form-control" id="txtNombreNomina" placeholder="Nombre Nomina" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtNombreEmpleado" placeholder="Nombre Empleado" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Apellido Paterno" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="Apellido Materno" />
                    </div>
                    <div class="form-group">
                        <select onclick="EntidadFederativaGetAll()" id="txtIdEstado">
                            
                        </select>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn glyphicon glyphicon-pencil" id="btnUpdate" onclick="Add()">Actualizar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="modalClose()">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-5">

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalle</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h5>
                                Acción completada con éxito
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" value="Regresar" data-dismiss="modal">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



